body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 4rem 0 4rem 4rem;
  width: 100%;
}

button {
  background-color: white;
  border-color: #ff8139;
  border-radius: 6rem;
  border-width: 0.45rem;
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 1rem;
  padding: 3rem 6rem;
}

.footer-upsell {
  display: flex;
  height: 70rem;
  overflow: hidden;
}

header {
  display: block;
  height: 10rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  img {
    padding: 0 2rem;
  }

  .landing {
    height: 4.5rem;
  }

  .menu {
    height: 2.7rem;
  }
}

.hero {
  display: flex;
  height: 75rem;
  position: relative;
  overflow: hidden;

  .graphic {

    img {
      position: absolute;
      height: 45em;
    }
  }
}

.text {
  width: 73.5%;

  h1 {
    font-size: 7rem;
    font-weight: 900;
    line-height: 9rem;
  }

  h4 {
    color: #ff3998;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  p {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 500;
    color: #555555;
    width: 90%;
  }
}

html {
  width: 100%;
}

nav {
  display: none;
}

@media only screen and (min-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  .menu {
    display: none;
  }
}

.press {
  display: flex;
  padding-top: 6rem;
  margin-bottom: 6rem;

  img {
    height: 5rem;
  }

  .invisible {
    display: none;
  }
}

.upsell {
  background-image: linear-gradient(to right, #ff3998, #ff8139, #c9cd34);
  height: 30rem;
  padding: 12rem 2.5rem 0 2.5rem;

  h2 {
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: lighter;
  }
}

.showcase {
  a {
    color: #555555;
  }
  .eth {
    height: 3rem;
  }
  h2 {
    font-size: 6rem;
    font-weight: 600;
  }

  h4 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .nft-row {
    display: flex;
    overflow: auto;
  }

  .nft {
    width: max-content;
    margin-right: 6rem;
  }

  .nft-bottom {
    display: flex;
    background-color: #eeeeee;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
    margin-bottom: 12rem;
    margin-top: 0;
  }

  .nft-top {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .orange {
    color: #ff8139;
  }

  .gray {
    color: #555555;
  }

  p {
    color: #555555;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3.5rem;
  }

  .price-section {
    text-align: right;
  }

  img {
    height: 40rem;
  }
}
